# Node / monorepo
**/node_modules/
**/.next/
**/dist/
**/build/
**/.turbo/
**/.cache/
**/.vercel/
**/out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Keep lockfile
!package-lock.json

